<div id='sidebar'>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>Markdown Grammar Reference</span>
    </div>
    <div class='inner'>
      <ol>
        <li><tt>###  Single line topic</tt></li>
        <li><tt>**bold character**</tt></li>
        <!-- <li><tt>`console.log('inline code')`</tt></li>
        <li><tt>```js\n code \n```</tt> 标记代码块</li> -->
        <li><tt>[content](link)</tt></li>
        <li><tt>![literal expanation](image link)</tt></li>
      </ol>
      <span><a href='https://guides.github.com/features/mastering-markdown/' target='_blank'>Markdown Documentation</a></span>
    </div>
  </div>

  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>Guide for posting the topic</span>
    </div>
    <div class='inner'>
      <ol>
        <li>Explanatory Title</li>
        <li>Don't post an article that has been posted before in 2HOURS.CC</li>
      </ol>
    </div>
  </div>

</div>
