<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>Home</a><span class='divider'>/</span></li>
        <li class='active'>About</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- markdown(multiline(function () {
/*
### About
2HOURS' mission is to provide an exclusive space for expatriates in China. Here we receive and give help from and to each other.

2HOURS.CC is run by an organization of a team of expatriates as well as native Chinese. And we really care about the life of expats in China. Hope all the expats in China could join us and help each other.

*/
        })) %>
      </div>
    </div>
  </div>
</div>
